# NodeJS's secrets
PORT=3000
BASE_URL=http://localhost:3000
STRIPE_SECRET_KEY=sk_test...
STRIPE_WEBHOOK_SECRET=whsec_523d...
NODE_ENV=development

# Database's secrets
MONGO_ADDRESS=cluster0.0mbmrv7.mongodb.net
MONGO_USERNAME=admin
MONGO_PASSWORD=superlongpassword
MONGO_POSTFIX=?appName=MySuperCluster